<section id="contactform">
  <article>
    <h1>Assignment Page </h1>
    <form method="post" action="/assignment">

      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="enter firstname"
        />
      </div>
      <div>
        <label for=""></label>
        <input
          type="text"
          id=""
          name=""
          placeholder="enter lastname"
        />
      </div>
      <div>
        <label for=""></label>
        <input type="text" id="" name="" placeholder="enter email" />
      </div>
      <div>
        <label for=""></label>
        <input
          type="text"
          id=""
          name=""
          placeholder="enter number"
        />
      </div>
      <div>
            <label for=""></label>
        <select>
          <option value="HTML"> HTML</option>
          <option value="CSS">CSS </option>
          <option value="JS">JS </option>
          <option value="React JS">React JS </option>
          <option value="Node JS"> Node JS</option>
          <option value="Express">Express</option>
        </select>
      </div>
      <div class="text">
        <label for=""> </label>
        <textarea name="" col="30" row="10"></textarea>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </article>
</section>