<section id="contactform">
  <article>
    <h1>Contact Form</h1>
    <form method="post" action="/contacts">

      <div>
        <label for="firstname">FirstName</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          placeholder="enter firstname"
        />
      </div>
      <div>
        <label for="lastname">Lastname</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          placeholder="enter lastname"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="enter email" />
      </div>
      <div>
        <label for="number">Phone Number</label>
        <input
          type="text"
          id="number"
          name="number"
          placeholder="enter number"
        />
      </div>
      <div class="text">
        <label for="number"> Description</label>
        <textarea name="description" col="30" row="10"></textarea>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </article>
</section>